%div
  %header
    %h2
      Users list
  .content
    %table
      %thead
        %tr
          %th.name
            Name
          %th.email
            Email
          %th.role
            Role
          %th.action
            Actions
      %tbody
        - @users.each do |user|
          %tr
            %td
              %a{:href => "/users/#{user.id}"}
                = user.name
            %td
              = user.email
            %td
              = user.role
            %td
              %a{:rel => "nofollow", :"data-method" => "delete", :"data-confirm" => "Are you sure?", :href => "/users/#{user.id}"}
                Delete
        = paginate @users
